h1 {
  color: rgb(121, 121, 233);
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  width: 80%;
  background-color: rgb(230, 230, 230);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 70%;
  margin: 10px;
}

.button {
  background-color: rgb(121, 121, 233);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: rgb(100, 100, 200);
}

p {
  font-size: 18px;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .card {
    width: 80%;
    flex: 0 0 auto;
  }
}