* {
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  background-color: grey;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 3;
}

.right {
  flex: 7;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: greenyellow;
}