* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  flex: 1 1 20%;
  background-color: #695b5b;
  padding: 20px;
}

.main {
  flex: 1 1 80%;
  background-color: #fff;
  display: flex;
}

.content {
  padding: 20px;
  flex: 1 1 60%;
  background-color: #fff;
}

.extraSection {
  padding: 20px;
  flex: 1 1 20%;
  background-color: #b96363;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .content {
    flex: 1 1 50%;
    order: 1;
  }

  .extraSection {
    flex: 1 1 50%;
    order: 2;
  }
}