*{
  background-color: rgb(128, 204, 227);
  box-sizing: border-box;
}

.active{
    background-color: #e1e1ee;
    color: #c45b5b;
}
#active{
    background-color: #ffffff;
    color: #cb1919;
}

#footer{
    background-color: #e1e1ee;
    color: #c45b5b;
}