* {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: rgb(159, 34, 34);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  height: 100vh;
  font-family: 'Times New Roman';
  font-size: 2rem;
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-align: center;
  flex: 3;
  background-color: rgb(159, 34, 153);
  color: white;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 7;
  background-color: rgb(78, 34, 159);
  color: white;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}